<h3>新規会員</h3>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>


  <div class="field">
    <p>名前</p>
    <%= f.label :last_name, "(姓)" %>
    <%= f.text_field :last_name %>
    <%= f.label :first_name, "(名)" %>
    <%= f.text_field :first_name %>
  </div>
  <br>
  <div class="field">
    <p>フリガナ</p>
    <%= f.label :last_name_kana, "(セイ)" %>
    <%= f.text_field :last_name_kana %>
    <%= f.label :first_name_kana, "(メイ)" %>
    <%= f.text_field :first_name_kana %>
  </div>
  <br>
  <div class="field">
    <p>メールアドレス</p>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
  <br>
  <div class="field">
    <p>郵便番号(ハイフンなし)</p>
    <%= f.text_field :postal_code %>
  </div>
  
  <div class="field">
    <p>住所</p>
    <%= f.text_field :address %>
  </div>
  
  <div class="field">
    <p>電話番号(ハイフンなし)</p>
    <%= f.text_field :telephone_number %>
  </div>

  <div class="field">
    <p>パスワード(6文字以上)</p>
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <p>パスワード(確認用)</p>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "新規登録" %>
  </div>
<% end %>

<h3>既に登録済みの方</h3>
<p><%= link_to "こちら", new_customer_session_path %>　からログインしてください。</p>

