
<%= form_with model: @order, url: verification_path, local:true do |f| %>
    <p>支払方法</p>
    <%= f.radio_button :payment_method, :'クレジットカード', checked: "checked" %>クレジットカード<br>
    <%= f.radio_button :payment_method, :'銀行振込' %>銀行振込<br>
    <p>お届け先</p>
    <%= f.radio_button :address_kind, '0', checked: "checked" %>ご自身の住所<br>
    <p><%= current_customer.postal_code %>　<%= current_customer.address %></p>
    <p><%= current_customer.last_name %><%= current_customer.first_name %></p>
    
　　<%= f.radio_button :address_kind, '1' %>登録済住所から選択<br>
　　<%= f.collection_select(:address_id, current_customer.addresses, :id, :full_address) %><br>
　　
　　<%= f.radio_button :address_kind, '2' %>新しいお届け先<br>
　　<%= f.label :postal_code, "郵便番号（ハイフンなし）" %>
　　<%= f.text_field :postal_code %><br>
　　<%= f.label :address, "住所" %>
　　<%= f.text_field :address %><br>
　　<%= f.label :name, "宛名" %>
　　<%= f.text_field :name %><br>
　　
　　<%= f.submit "確認画面へ進む" %>
    
<% end %>