
<div class="container">
    <div class="row">
        <h3>商品一覧</h3>
        <p>　(全<%= Item.count %>件)</p>
    </div>
</div>

<div class="container">
    <div class="row">
    <% @items.each do |items| %>
        <div class="col-lg-3">
            <%= link_to item_path(items.id), method: :get do %>
                <%= attachment_image_tag items, :image, :fill, 180, 90 %><br>
            <% end %>
            <%= items.name %><br>
                <%= number_to_currency(items.price, :unit => "¥", :precision => 0) %><br>
        </div>
    <% end %>
    </div>
</div>