
<div class="container">
    <div class="row">
        <div class="col-lg-5">
            <%= attachment_image_tag @item,:image, :fill, 180, 90 %><br>
        </div>
        <div class="col-lg-7">
            <%= @item.name %><br>
            <%= @item.introduction %><br>
            <br>
            <%=  number_to_currency("#{(@item.price * 1.08) }", :unit => "¥", :precision => 0) + "(税込)" %>
            <%= form_with model: @cart_items, url:cart_items_path, local:true do |f| %>
                <%= f.select :amount, [["1", 1], ["2", 2], ["3", 3], ["4", 4], ["5", 5]], include_blank: "個数選択" %>
                <%= f.hidden_field :item_id, value:@item.id %>
                <%= f.submit "カートに入れる" %>
            <% end %>
        </div>
    </div>
</div>
