<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if customer_signed_in? %> 
      <a>LOGO</a>
      <a>商品一覧</a>
      <a>注文履歴一覧</a>
      <a>ジャンル一覧</a>
      <a>ログアウト</a>
     
    <% elsif admin_signed_in? %>
      <a>LOGO</a>
      <%= link_to "商品一覧", admin_items_path %>
      <a>会員一覧</a>
      <a>注文履歴一覧</a>
      <%= link_to "ジャンル一覧", admin_genres_path %>
      <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
      
    <% else %>
     <a>LOGO</a>
     <a>About</a>
     <a>商品一覧</a>
     <a>新規登録</a>
     <a>ログイン</a>
      
    <% end %>
    
    <%= yield %>
  </body>
</html>
